@model IEnumerable<ERPBO.Inventory.ViewModels.ItemViewModel>
@{
    ViewBag.Title = "GetItemList";
    var sl = 0;
    string badge = string.Empty;
}

<div class="row">
    <div class="col-md-12 text-center">
        <h4><b style="color:darkblue">List Of Item</b></h4>
        <hr />
    </div>
    <div class="col-md-12 mb-2">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-4">
                <input type="text" name="search" id="searchBy" class="form-control form-control-sm" placeholder="Search By Anything" onkeyup="tableFilter('#tblItemData tbody tr',this)" />
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-sm float-lg-right" style="background-color:darkblue" id="btnAddNew"><i class="fa fa-plus"></i> Create New Item</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-sm table-striped table-responsive-lg" id="tblItemData">
            <thead class="btn-dark">
                <tr class="text-center">
                    <th>SL No.</th>
                    <th class="hide"></th>
                    <th>ItemType Name</th>
                    <th>Item Name</th>
                    <th>Unit Name</th>
                    <th>Remarks</th>
                    <th>StateStatus</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    sl = sl + 1;
                    badge = item.StateStatus.ToLower() == "active" ? "badge bg-success" : "badge bg-danger";
                <tr>
                    <td class="text-center" width="10%">@sl</td>
                    <td class="hide">@item.ItemId</td>
                    <td>@item.ItemTypeName</td>
                    <td>@item.ItemName</td>
                    <td class="text-center">@item.UnitName</td>
                    <td class="text-center">@item.Remarks</td>
                    <td class="text-center" data-val="@item.StateStatus">
                        <span class="@badge">@item.StateStatus</span>
                    </td>
                    <td class="text-center">
                        <a href="#" class="btn btn-warning btn-sm data-edit-item" data-edit-item="@item.ItemId"><i class="fa fa-pen"></i> Edit</a>
                    </td>
                </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr class="text-center empty-row">
                        <td colspan="5">
                            No Rows Found
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!--Data add & Edit-->

<div class="modal fade" id="modalItem" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header alert-primary">
                <h4 id="modalHeading" class="modal-title">Add New Item</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="frmItem">
                    <input type="hidden" name="Id" id="hdfItemId" />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtItemName" class="control-label font-weight-bold">Item Name</label>
                            <input type="text" name="itemName" value="" id="txtItemName" class="form-control form-control-sm" />
                            <span class="error hide required-itemName font-weight-bold">Input Item Name!</span>
                            <span class="error hide duplicate-itemName font-weight-bold">Already ItemName Exist!</span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ddlItemTypeName" class="control-label font-weight-bold">ItemType Name</label>
                            @Html.DropDownList("ddlItemTypeName", (IEnumerable<SelectListItem>)ViewBag.ddlItemTypeName, "--Select ItemType--", new { @class = "form-control form-control-sm" })
                            <span class="error hide required-itemTypeName font-weight-bold">Required ItemaType Name!</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="ddlUnitName" class="control-label font-weight-bold">Unit Name</label>
                            @Html.DropDownList("ddlUnitName", (IEnumerable<SelectListItem>)ViewBag.ddlUnitName, "--Select UnitName--", new { @class = "form-control form-control-sm" })
                            <span class="error hide required-UnitName font-weight-bold">Required Unit Name!</span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtRemarks" class="control-label font-weight-bold">Remarks</label>
                            <input type="text" name="remarks" value="" id="txtRemarks" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-control form-control-sm">
                                <input type="checkbox" id="chkStatestatus" /> <b>Is Active?</b>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer btn-light">
                <div class="col-md-6">
                    <div id="msg1" class="alert alert-success hide float-left">
                        Data has been saved Successful!
                    </div>
                    <div id="msg2" class="alert alert-danger hide float-left">
                        Data has been failed to save!
                    </div>
                </div>
                <button type="button" class="btn btn-danger float-right" data-dismiss="modal" data-target="#"><i class="fas fa-times"></i> Cancel </button>
                <button type="submit" class="btn btn-success float-right" id="btnSubmit"><i class="far fa-save"></i> Save </button>
            </div>
        </div>
    </div>
</div>

<!--Java Scripts Code-->

@section scripts{
    <script type="text/javascript">
        var hdfItemId = $("#hdfItemId");
        var txtItemName = $("#txtItemName");
        var ddlItemTypeName = $("#ddlItemTypeName");
        var ddlUnitName = $("#ddlUnitName");
        var txtRemarks = $("#txtRemarks");
        var chkStatestatus = $("#chkStatestatus");

        $(document).ready(function () {
            $('#tblItemData').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": false,
                "autoWidth": false,
            });
        })

        function OpenModal() {
            $("#modalItem").modal("show");
            $(".error").addClass("hide");
        }

        $("#btnAddNew").click(function (e) {
            e.preventDefault();
            clearCtrl();
            OpenModal();
        })

        //Data add
        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            $(".error").addClass("hide");
            if (validateForm() == true) {
                var data = JSON.stringify({ ItemId: TryParseInt(hdfItemId.val(), 0), ItemName: txtItemName.val(), ItemTypeId: ddlItemTypeName.val(), UnitId: ddlUnitName.val(), Remarks: txtRemarks.val(), IsActive: chkStatestatus.is(":checked") });
                console.log(data);
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/Inventory/SaveItem', data, getToken())).then(function (res, status) {
                    console.log(status);
                    console.log(res);
                    if (res == true) {
                        message("#msg1", "#modalItem");
                    }
                    else {
                        message("#msg2");
                    }
                    enable("#btnSubmit");
                }).fail(function (err) {
                    console.log(err);
                    enable("#btnSubmit");
                });
            }

        })
        //validation
        function validateForm() {
            $(".error").addClass("hide");
            var isValid = true;
            if ($.trim(txtItemName.val()) == "") {
                $(".required-itemName").removeClass("hide");
                isValid = false;
            }
            else {
                var id = TryParseInt(hdfItemId.val(), 0);
                if (ajaxBooleanChecker(JSON.stringify({ id: id, itemName: txtItemName.val().trim() }), '/Common/IsDuplicateItemName', getToken()) == true) {
                    $(".duplicate-itemName").removeClass("hide");
                    isValid = false;
                }
            }
            if ($.trim(ddlItemTypeName.val()) == "") {
                $(".required-itemTypeName").removeClass("hide");
                isValid = false;
            }
            if ($.trim(ddlUnitName.val()) == "") {
                $(".required-UnitName").removeClass("hide");
                isValid = false;
            }
            
            return isValid;
        }

        ////data edit
        //$(".data-edit-item").click(function (e) {
        //    e.preventDefault()
        //    OpenModal()
        //});

        $(document).on("click", "a.data-edit-item", function (e) {
            e.preventDefault();
            var id = $(this).attr("data-edit-item");

            $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/Inventory/GetItemById', JSON.stringify({ id: id }),getToken())).then(function (res, status) {
                console.log(res);
                console.log(status);
                if (res != null) {
                    hdfItemId.val(res.ItemId);
                    txtItemName.val(res.ItemName);
                    ddlItemTypeName.val(res.ItemTypeId);
                    ddlUnitName.val(res.UnitId);
                    txtRemarks.val(res.Remarks);
                    chkStatestatus.prop("checked", false);
                    if (res.IsActive === true) {
                        chkStatestatus.prop("checked", true);
                    }
                    OpenModal();
                }
                else {
                    alert("No data found..")
                }
            }).fail(function (error) {
                console.log(error);
            })
        })
        function clearCtrl() {
            hdfItemId.val('0');
            txtItemName.val('');
            ddlItemTypeName.val('');
            ddlUnitName.val('');
            txtRemarks.val('');
            chkStatestatus.prop("checked", false);
        }
    </script>
    }
